[mysqld]
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
log-bin=/var/lib/mysql/mysql-bin
socket=/run/mysqld/mysqld.sock
innodb_log_file_size = 128MB
max_allowed_packet = 128M
wait_timeout = 28800
skip-networking=false
skip-host-cache
skip-name-resolve